In [1]:
import pandas as pd
import quandl

import os
from dotenv import load_dotenv
load_dotenv()

import urllib3 # to get rid of a message error I had 
urllib3.disable_warnings()

## Quandl - Getting Data though Quandl

Quandl is a premier publisher of alternative data for institutional investors. A dedicated team of data scientists, quants and engineers combine uncompromising curation, high quality standards and experienced data science application to provide some of the most powerful data available today. Quandl also publishes free data, scraped from the web and delivered via Nasdaq Data Link’s industry-leading data delivery platform. [Source](https://data.nasdaq.com/publishers/QDL)

It has been acquired by Nasdaq in 2018 and explain now why it is totally integrated within the Nasdaq website

In [2]:
# Loading quandl and accessing it
QUANDL_PW = os.getenv("QUANDL")
quandl.ApiConfig.api_key = QUANDL_PW
quandl.ApiConfig.verify_ssl = False # By default, SSL verification is enabled. To bypass SSL verification

### M2 - Monetary Aggregate

In [3]:
# https://data.nasdaq.com/data/FED/M2_N_M-m2-not-seasonally-adjusted-monthly

df_m2_us = quandl.get('FED/M2_N_M')
df_m2_us

              Value
Date
1959-01-31    289.8
1959-02-28    287.7
1959-03-31    287.9
1959-04-30    290.2
1959-05-31    290.2
...             ...
2022-06-30  21585.4
2022-07-31  21578.8
2022-08-31  21546.4
2022-09-30  21459.5
2022-10-31  21362.5

[766 rows x 1 columns]

### Average of GDP and GDI, Quarterly, Transactions, NSA

In [4]:
# https://data.nasdaq.com/data/FED/FU086902203_Q-average-of-gdp-and-gdi-quarterly-transactions-nsa

df_gdp_us = quandl.get('FED/FU086902203_Q')
df_gdp_us

                Value
Date
1946-12-31      227.0
1947-12-31      249.0
1948-12-31      275.0
1949-12-31      272.0
1950-12-31      300.0
...               ...
2021-06-30  5734201.0
2021-09-30  5879444.0
2021-12-31  6077834.0
2022-03-31  6201234.0
2022-06-30  6342867.0

[288 rows x 1 columns]

### S&P 500 inflation adjusted by month

In [5]:
# https://data.nasdaq.com/data/MULTPL/SP500_INFLADJ_MONTH-sp-500-inflation-adjusted-by-month

df_sp500 = quandl.get('MULTPL/SP500_INFLADJ_MONTH')
df_sp500

              Value
Date
1871-01-01   105.76
1871-02-01   104.02
1871-03-01   105.01
1871-04-01   112.01
1871-05-01   117.56
...             ...
2022-09-01  3850.52
2022-09-30  3585.62
2022-10-01  3726.05
2022-10-31  3871.98
2022-11-01  3856.10

[1850 rows x 1 columns]

### University of Michigan Consumer Survey,Index of Consumer Sentiment

In [6]:
# https://data.nasdaq.com/data/UMICH/SOC1-university-of-michigan-consumer-surveyindex-of-consumer-sentiment

df_conssen = quandl.get('UMICH/SOC1')
df_conssen

            Index
Date
1952-11-30   86.2
1953-02-28   90.7
1953-08-31   80.8
1953-11-30   80.7
1954-02-28   82.0
...           ...
2022-05-31   58.4
2022-06-30   50.0
2022-07-31   51.5
2022-08-31   58.2
2022-09-30   58.6

[629 rows x 1 columns]

### Big Mac Index - United States

In [7]:
# https://data.nasdaq.com/data/ECONOMIST/BIGMAC_USA-big-mac-index-united-states

df_bigmac_us = quandl.get('ECONOMIST/BIGMAC_USA')
df_bigmac_us

,local_price,dollar_ex,dollar_price,dollar_ppp,dollar_valuation,dollar_adj_valuation,euro_adj_valuation,sterling_adj_valuation,yen_adj_valuation,yuan_adj_valuation
Date,,,,,,,,,,
2000-04-30,2.510000,1.0,2.510000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2001-04-30,2.540000,1.0,2.540000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2002-04-30,2.490000,1.0,2.490000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2003-04-30,2.710000,1.0,2.710000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2004-05-31,2.900000,1.0,2.900000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2005-06-30,3.060000,1.0,3.060000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2006-01-31,3.150000,1.0,3.150000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2006-05-31,3.100000,1.0,3.100000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2007-01-31,3.220000,1.0,3.220000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2007-06-30,3.410000,1.0,3.410000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2008-06-30,3.570000,1.0,3.570000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2009-07-31,3.570000,1.0,3.570000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2010-01-31,3.580000,1.0,3.580000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2010-07-31,3.733333,1.0,3.730000,1.0,0.0,NaN,NaN,NaN,NaN,NaN
2011-07-31,4.065000,1.0,4.065000,1.0,0.0,0.0,-26.636587,-8.015944,-5.203499,-3.216015
2012-01-31,4.197220,1.0,4.197220,1.0,0.0,0.0,-14.786463,-2.133618,-3.485782,0.356972
2012-07-31,4.327500,1.0,4.327500,1.0,0.0,0.0,-9.950261,-6.809969,1.396524,6.282865
2013-01-31,4.367396,1.0,4.367396,1.0,0.0,0.0,-17.054783,-5.981093,21.542474,4.351848
2013-07-31,4.556667,1.0,4.556667,1.0,0.0,0.0,-9.447528,3.594663,39.377081,6.912607
2014-01-31,4.624167,1.0,4.624167,1.0,0.0,0.0,-14.166904,-9.228972,51.812610,-1.189372
2014-07-31,4.795000,1.0,4.795000,1.0,0.0,0.0,-15.542853,-13.287725,25.715368,6.824449
2015-01-31,4.790000,1.0,4.790000,1.0,0.0,0.0,-1.337511,-3.018615,33.668355,5.442190
2015-07-31,4.790000,1.0,4.790000,1.0,0.0,0.0,4.620445,-1.314986,37.399053,10.276168
2016-01-31,4.930000,1.0,4.930000,1.0,0.0,0.0,8.182061,8.172859,33.632003,10.424564
2016-07-31,5.040000,1.0,5.040000,1.0,0.0,0.0,-1.636445,15.177309,17.331940,9.376163
2017-01-31,5.060000,1.0,5.060000,1.0,0.0,0.0,1.884503,21.982096,24.887719,6.924697
2017-07-31,5.300000,1.0,5.300000,1.0,0.0,0.0,-1.500591,16.178555,35.836244,10.581715
2018-01-31,5.280000,1.0,5.280000,1.0,0.0,0.0,-10.771223,2.517376,30.361021,-0.691530
2018-07-31,5.510000,1.0,5.510000,1.0,0.0,0.0,-4.900000,9.100000,30.000000,3.800000
2019-01-31,5.580000,1.0,5.580000,1.0,0.0,0.0,-2.600000,13.900000,27.200000,4.000000
2019-07-31,5.740000,1.0,5.740000,1.0,0.0,0.0,3.600000,18.300000,33.300000,13.400000
2020-01-31,5.670000,1.0,5.670000,1.0,0.0,0.0,2.800000,9.100000,31.800000,9.200000
2020-07-31,5.710000,1.0,5.710000,1.0,0.0,0.0,-1.900000,12.200000,27.900000,7.000000
2021-01-31,5.660000,1.0,5.660000,1.0,0.0,0.0,-11.200000,6.100000,23.600000,-2.400000
2021-07-31,5.650000,1.0,5.650000,1.0,0.0,0.0,-8.415000,-1.012000,32.250000,0.378000
2022-01-31,5.810000,1.0,5.810000,1.0,0.0,0.0,-3.388000,1.222000,43.675000,-4.540000
2022-07-31,5.150000,1.0,5.150000,1.0,0.0,0.0,-4.003000,6.533000,73.557000,15.955000

### Consumer Price Index - USA

In [8]:
# https://data.nasdaq.com/data/RATEINF/CPI_USA-consumer-price-index-usa
df_cpi_us = quandl.get('RATEINF/CPI_USA')
df_cpi_us

              Value
Date
1913-01-31    9.800
1913-02-28    9.800
1913-03-31    9.800
1913-04-30    9.800
1913-05-31    9.700
...             ...
2022-06-30  296.311
2022-07-31  296.276
2022-08-31  296.171
2022-09-30  296.808
2022-10-31  298.012

[1318 rows x 1 columns]

### Real estate loans; Residential real estate loans; Revolving home equity loans, all commercial banks, seasonally adjusted, Monthly

In [9]:
# https://data.nasdaq.com/data/FED/B1027NCBAM-real-estate-loans-residential-real-estate-loans-revolving-home-equity-loans-all-commercial-banks-seasonally-adjusted-monthly

df_re_us = quandl.get('FED/B1027NCBAM')
df_re_us

               Value
Date
1987-07-31   25001.4
1987-08-31   26182.3
1987-09-30   27443.4
1987-10-31   28477.1
1987-11-30   29571.7
...              ...
2022-06-30  248017.4
2022-07-31  247933.0
2022-08-31  247482.8
2022-09-30  248786.1
2022-10-31  250692.6

[424 rows x 1 columns]

### Initial Claims

In [10]:
# https://data.nasdaq.com/data/FRED/ICSA-initial-claims

df_incl_us = quandl.get('FRED/ICSA')
df_incl_us

               Value
Date
1967-01-07  208000.0
1967-01-14  207000.0
1967-01-21  217000.0
1967-01-28  204000.0
1967-02-04  216000.0
...              ...
2022-01-08  231000.0
2022-01-15  290000.0
2022-01-22  261000.0
2022-01-29  239000.0
2022-02-05  223000.0

[2875 rows x 1 columns]

### Total Revolving Credit Owned and Securitized, Outstanding

In [11]:
# https://data.nasdaq.com/data/FRED/REVOLSL-total-revolving-credit-owned-and-securitized-outstanding
df_credit_us = quandl.get('FRED/REVOLSL')
df_credit_us

                 Value
Date
1968-01-01     1.31677
1968-02-01     1.35878
1968-03-01     1.41275
1968-04-01     1.47766
1968-05-01     1.53842
...                ...
2021-08-01  1001.19737
2021-09-01  1011.00178
2021-10-01  1017.06997
2021-11-01  1036.35653
2021-12-01  1038.46675

[648 rows x 1 columns]

### ISM Manufacturing: PMI Composite Index

In [12]:
# https://data.nasdaq.com/data/FRED/NAPM-ism-manufacturing-pmi-composite-index
df_pmi_us = quandl.get('FRED/NAPM')
df_pmi_us

            VALUE
DATE
1948-01-01   51.7
1948-02-01   50.2
1948-03-01   43.3
1948-04-01   45.4
1948-05-01   49.5
...           ...
2016-01-01   48.2
2016-02-01   49.5
2016-03-01   51.8
2016-04-01   50.8
2016-05-01   51.3

[821 rows x 1 columns]